# PMS_CLOUD | EASY_MS
PMS_PROVIDER=

# PMS_CLOUD
PMS_CLOUD_ID=
PMS_CLOUD_LOGIN=
PMS_CLOUD_PW=

# Easy MS
EASY_MS_LOGIN=
EASY_MS_PW=
EASY_MS_BASE_URL=

# App
APP_PORT=3030
X_SEC_HEADER=
# For browser access when JS is required
CHROME_PATH=
# When the request is unsuccessful
MAX_API_RETRIES=
# When too many requests
TIME_TO_SLEEP=

#DB
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = admin
TYPEORM_DATABASE = hotel_integration
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/domain/**/*Model.ts
TYPEORM_MIGRATIONS = migration/**/*.ts
TYPEORM_MIGRATIONS_DIR = migration
